<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Shanti SMS</title>

</head>

<body class="red lighten-5">
  <nav class="red lighten-5">
    <div class="nav-wrapper black-text">
      <a href="#" class="brand-logo black-text">Shanti SMS</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!-- <li><a class="black-text z-depth-5">Your Credit Balance is : 50000</a></li> -->
        <li><a class="waves-effect waves-light black-text">
            <h6>
              <%= `Welcome, ${user.email} Your Credit Balance is: ${user.AvailableCredits}` %>
            </h6>
          </a></li>
        <a href="#" data-target="slide-out" class="sidenav-trigger">menu</a>
        <li><a href="/logout" class="waves-effect waves-light btn red z-depth-5">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modal Structure -->
  <div id="qrcodeModal" class="modal">
    <div class="modal-content" style="margin-top: -20px;">
      <p class="center">Please have your WhatsApp QR code scanner ready and be patient as it may take time to generate
        the code.</p>
      <div id="qrcode-container" class="center">
        <div class="row" style="margin-top: -10px;">
          <div class="col s12 center" id="newQRCodeContainer">
            <!-- qr code image places here -->
          </div>
        </div>
      </div>

      <div id="errorLog" class="center red-text"></div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
  </div>


  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red z-depth-5">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a href="#qrcodeModal" class="btn-floating red modal-trigger" id="qrCodeScannerBtn"><i
            class="material-icons">phonelink_setup</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">timeline</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">cloud_download</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">bug_report</i></a></li>
    </ul>
  </div>

  <div class="container" style="margin-top: 30px;">
    <table class="highlight centered z-depth-5">
      <thead>
        <tr>
          <th>Connected Whatsapp No</th>
          <th>Whatsapp Token</th>
          <th>Delete</th>
        </tr>
      </thead>

      <% if (user != '') { %>
        <% user.connectedWhatsAppDevices.forEach((devices, index) => { %>
          <td><%= devices.connectedWano %></td>
          <td><%= devices.token %></td>
          <td id="<%= devices.token %>"><i href="#" class="material-icons deleteWhatsappMongoDBCollection modal-trigger">delete_sweep</i></td>
          <% }) %>
        <% } else { %>

          <h5>Couldn't find Data</h5>
          <% } %>

    </table>
  </div>



  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {});
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {});
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems, {});
    });
    let qrCodeButton = document.querySelector('#qrCodeScannerBtn');
    let errorLogDiv = document.querySelector('#errorLog');
    qrCodeButton.addEventListener('click', async () => {
      try {
        const res = await fetch('/generateqrcode', {
          method: 'get',
          headers: { 'Content-Type': 'application/json' }
        });
      } catch (error) {
        console.log(error);
      }
    });

    let qrcodeContainer = document.querySelector('#newQRCodeContainer');
    const eventSource = new EventSource('qrcodewithsse')

    eventSource.onmessage = function (event) {
      if (event.data === 'stopGeneratingQRCode') {
        eventSource.close()
        let elem = document.getElementById("qrcodeModal");
        let instance = M.Modal.getInstance(elem);
        instance.close();
      } else if (event.data != 'stopGeneratingQRCode') {
        console.log(event.data)
        let div = `
              <img src="${event.data}" alt="QR Code" style="width: 45%; height: 45%;" />
          `;
        qrcodeContainer.innerHTML = div;
      }
    }
    eventSource.onerror = function () {
      eventSource.close()
    }


    const deleteWhatsappMongoDBCollection = document.querySelectorAll(".deleteWhatsappMongoDBCollection")
    deleteWhatsappMongoDBCollection.forEach( (elem) => {
      elem.addEventListener("click", async function (event) {
        event.preventDefault();
          const clientSessionID = this.parentNode.id;
          try {
              const res = await fetch('/deleteWhClientSession', {
                method: 'POST',
                    body: JSON.stringify({ clientSessionID }),
                    headers: {'Content-Type': 'application/json'}
              });
              const data = await res.json();
              console.log(data);
          } catch (error) {
            console.log(error);
          }
      });
    });

    
  </script>
</body>

</html>